body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.377);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    gap: 20px;
}

.row {
    display: flex;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10px;
}

h1 {
    margin-left: 10px;
    font-size: 2rem;
}

h3 {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 15px 20px;
}

.reviews,
.maps {
    flex: 1;
    height: 45dvh;
    border-radius: 10px;
    margin: auto;
    margin-right: 0;
}



nav span {
    z-index: 101;
    position: absolute;
    top: 0;
    left: 697px;
    background-color: rgba(156, 107, 0, 0.918);
    height: 100%;
    width: 176px;
    border-radius: 20px;
    transition: .2s ease;
}

nav a:nth-child(1):hover~span {
    left: 0;
    width: 155px;
}

nav a:nth-child(2):hover~span {
    left: 155px;
    width: 185px;
}

nav a:nth-child(3):hover~span {
    left: 340px;
    width: 357px;
}

nav a:nth-child(4):hover~span {
    left: 697px;
    width: 176px;
}

@media (max-width: 1650px) {
    .container {
        flex-direction: column;
    }
    .reviews {
        min-height: 100dvh;
    }
}

@media (max-width: 1400px) {
    .section {
        font-size: 1.2rem;
    }

}

@media (max-width: 1250px) {
    .row {
        flex-direction: column;
    }

    .maps {
        min-width: 100%;
        min-height: 100dvh;
    }

    .text {
        text-align: center;
        margin: auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 1050px) {
    nav div {
        font-size: 1.4rem;
        padding: 15px 25px;
    }

    nav span {
        width: 137px;
        left: 550px;
    }

    nav a:nth-child(1):hover~span {
        left: 0;
        width: 120px;
    }
    nav a:nth-child(2):hover~span {
        left: 120px;
        width: 144px;
    }
    
    nav a:nth-child(3):hover~span {
        left: 264px;
        width: 286px;
    }
    
    nav a:nth-child(4):hover~span {
        left: 550px;
        width: 137px;
    }
}

@media (max-width: 850px) {
    .row {
        flex-direction: column;
    }

    nav div {
        font-size: 1.2rem;
        padding: 15px 15px;
    }

    nav span {
        width: 104px;
        left: 432px;
    }

    nav a:nth-child(1):hover~span {
        left: 0;
        width: 90px;
    }
    nav a:nth-child(2):hover~span {
        left: 90px;
        width: 110px;
    }
    
    nav a:nth-child(3):hover~span {
        left: 200px;
        width: 232px;
    }
    
    nav a:nth-child(4):hover~span {
        left: 432px;
        width: 104px;
    }
}

@media (max-width: 676px) or (orientation: portrait) {
    header {
        margin-top: 1rem;
    }
    .hamburger {
        position: absolute;
        top: 4rem;
        right: 3rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 120px;
        height: 84px;
    }
    
    .hamburger .bar {
        height: 18px;
        width: 100%;
        background-color: #e0ad37;
        border-radius: 10px;
    }

    nav div {
        font-size: 3rem;
    }

    body {
        padding-top: 15.5rem;
    }
    .hamburger {
        display: flex;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(194, 133, 0);
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav div {
        padding: 10px;
    }

    nav.active{
        display: flex;
    }
    .logo {
        height: 200px;
    }

    nav span {
        display: none;
    }

    nav a:nth-child(4) {
        background-color: rgba(156, 107, 0, 0.918);
        border-radius: 20px;
    }
}