.logo {
    height: 120px;
  }

nav div{
    z-index: 102;
    display: block;
    font-weight: 400;
    font-size: 1.7rem;
    border-radius: 20px;
    padding: 15px 35px;
    transition: 0.2s ease;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

nav div:hover {
    color: rgb(224, 191, 125);
}
