.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.produse {
    background-color: rgba(0, 0, 0, 0.377);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
}

.produse:hover {
    cursor: pointer;
}

img {
    height: 200px;
    border-radius: 10px;
}

.produse:active,
.produse:hover {
    background-color: rgba(0, 0, 0, 0.219);
    margin: 3px;
    border: 2px;
    padding: 25px;
    border-style: solid;
    border-color: rgba(167, 167, 167, 0.322);
}

.imagine-produs {
    margin: 25px;
}

h1 {
    margin: 10px;
}

p {
    font-weight: 500;
}

label {
    font-weight: 300;
    padding: 20px;
}

nav span {
    z-index: 101;
    position: absolute;
    top: 0;
    left: 155px;
    background-color: rgba(156, 107, 0, 0.918);
    height: 100%;
    width: 184px;
    border-radius: 20px;
    transition: .2s ease;
}

nav a:nth-child(1):hover~span {
    left: 0;
    width: 155px;
}

nav a:nth-child(2):hover~span {
    left: 155px;
    width: 185px;
}

nav a:nth-child(3):hover~span {
    left: 340px;
    width: 357px;
}

nav a:nth-child(4):hover~span {
    left: 697px;
    width: 176px;
}

@media (max-width: 1500px) {
    .grid-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1400px) {
    .section {
        font-size: 1.2rem;
    }

}

@media (max-width: 1250px) {
    .section {
        flex-direction: column;
    }

    .grid-layout {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1050px) {
    nav div {
        font-size: 1.4rem;
        padding: 15px 25px;
    }

    nav span {
        width: 144px;
        left: 120px;
    }

    nav a:nth-child(1):hover~span {
        left: 0;
        width: 120px;
    }
    nav a:nth-child(2):hover~span {
        left: 120px;
        width: 144px;
    }
    
    nav a:nth-child(3):hover~span {
        left: 264px;
        width: 286px;
    }
    
    nav a:nth-child(4):hover~span {
        left: 550px;
        width: 137px;
    }
}

@media (max-width: 850px) {
    .row {
        flex-direction: column;
    }

    nav div {
        font-size: 1.2rem;
        padding: 15px 15px;
    }

    nav span {
        width: 110px;
        left: 90px;
    }

    nav a:nth-child(1):hover~span {
        left: 0;
        width: 90px;
    }
    nav a:nth-child(2):hover~span {
        left: 90px;
        width: 110px;
    }
    
    nav a:nth-child(3):hover~span {
        left: 200px;
        width: 232px;
    }
    
    nav a:nth-child(4):hover~span {
        left: 432px;
        width: 104px;
    }

    .grid-layout {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 676px) or (orientation: portrait) {
    .grid-layout {
        grid-template-columns: 1fr; 
    }

    .imagine-produs img{
        min-height: 400px;
    }

    header {
        margin-top: 1rem;
    }
    .hamburger {
        position: absolute;
        top: 4rem;
        right: 3rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 120px;
        height: 84px;
    }
    
    .hamburger .bar {
        height: 18px;
        width: 100%;
        background-color: #e0ad37;
        border-radius: 10px;
    }

    nav div {
        font-size: 3rem;
    }

    body {
        padding-top: 15.5rem;
    }

    .produse {
        font-size: 3rem;
    }

    nav div {
        font-size: 3rem;
    }

    .hamburger {
        display: flex;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(194, 133, 0);
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav div {
        padding: 10px;
    }

    nav.active{
        display: flex;
    }
    .logo {
        height: 200px;
    }

    nav span {
        display: none;
    }

    nav a:nth-child(2) {
        background-color: rgba(156, 107, 0, 0.918);
        border-radius: 20px;
    }
}